
a{
  color: #FF7D17;
}

body{
    background-color:#D8D8D8; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}
.barreDeRe input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 0px;
    margin-right: 16px;
    font-size: 9px;
    background-image: url('s.png');
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}
h1{
  color: black;
}

.topnav {
    overflow: auto;
    background-color: white;


}


.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.8s ease;

}


.topnav a:hover {
    background-color:#FF7D17 ;
    color: black;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;



}

section{

	width: 40%;
	margin-left: 40%;
	background: #f9f7f3;
  border-radius: 1px;
  box-shadow: 0 0 3px black;
  color: black;

}

article{
	margin-top: 5%;
	padding-top: 5%;
	margin-left: 5%;
	margin-right: 5%;

}

footer {position: absolute; bottom: 0; float: right;right: 0;}

.left { float:left; margin:0 10px 0 20px; } // marge = haut,droite,bas,gauche
